GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GEMINI_API_KEY=AIzaSyCtSaSZOaDqOYRWJJFV1tJyh0SgKHC3rRc
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_key_here
DEBUG=True
PORT=8000
